%h1 Editing cms_article

= render 'form'

= link_to 'Show', user_account_cms_article_path(@account.owner,@account.slug, @cms_article)
\|
= link_to 'Back', user_account_cms_articles_path(@account.owner, @account.slug)
