= content_for :breadcrumb do
  %ol.breadcrumb
    %li.active Home

- if current_user
  .row
    .col-sm-12{style: "margin-bottom: 200px;"}
      %h1 Welcome to Flat Glass
      %p.lead dalfkna ldfna lfknad flkadnf ladknf aldkfn adlkf nadlfk andfl kadnf lakdnf adlkfna dlkfnad lkfnad lfknad lfkadn flkadn fladknf aldkfn alkfnadlkfnadlfkn adlkfnadl fknadl fknadlf ad
      %hr
      %h3
        From : 
        =10000.days.ago.strftime("%d %B %Y")

        , To : 
        =Date.today.strftime("%d %B %Y")

      #chart
        %svg{:style => "height:500px"}
-else
  .row
    .col-sm-8{style: "margin-bottom: 200px;"}
      %h1 You are not signed in

:javascript
  $(document).ready(function() {  
    var column_chart = PykCharts.columnChart({
      selector: "#chart svg",
      data: [{ key: "Orders", values: #{@orders}}]
    });

  });