.drop-option{
    height: 40px;
    width: 130px;
    line-height: 40px;
    padding: 0;
}

.takes-drop{
    height: 40px;
    width: 130px;
    background: #fff;
    border: 1px dashed #aaa;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.active-drop{ background: #ddd;}
.hover-drop{ box-shadow: 0 0 30px #666 inset;}

#map-mapper h5{
    text-transform: uppercase;
    letter-spacing: -0.5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
}